body{
   font-family: Arial, Helvetica, sans-serif;
}

.coment{
   font-size: 0.9rem;
   color: grey;
}

.botao{
   text-align: center;
}

.estilo-botao{
   background: rgb(50, 50, 50);
   color: rgba(255, 255, 255, 0.778);
   width: 250px;
   height: 50px
}

textarea{
   width: 90%;
   height: 100px;
}

fieldset{
   width: 70%
}

.botoes1{
   text-align: right;
}

.estilo-button{
   margin-top: 1rem;
   width: 100px;
   height: 25px;
}

.text-b{
   font-weight: bold;
}

.text-a{
   color: rgb(0, 115, 182);
   text-align: left;
}

.hr{
   border: none;
   border-top: 3px dotted #b2b2b2
}

.text-c{
   color: grey;
}

.td-right{
   text-align: right;
}

.curriculo{
   text-align: left;
   padding-top: 1.5rem;
}

.destaque{
   color: blue
}